<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}\logs\nlog-internal.log"
      internalLogLevel="Warn">

	<targets>
		<target xsi:type="File"
                archiveFileName="${basedir}/logs/archives/{#}_ComingHome.Remote.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="10000000"
                archiveOldFileOnStartup="true"
                maxArchiveDays="31"
                name="logfile"
                fileName="${basedir}/logs/ComingHome.Remote.log"
                layout="[${longdate}][${level:uppercase=true}][${logger}][PID:${processid}][TID:${threadid}] ${message} | ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File"
                archiveFileName="${basedir}/logs/archives/{#}_ComingHome.Remote.err.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="10000000"
                archiveOldFileOnStartup="true"
                maxArchiveDays="31"
                name="logerrfile"
                fileName="${basedir}/logs/ComingHome.Remote.err.log"
                layout="[${longdate}][${level:uppercase=true}][${logger}][PID:${processid}][TID:${threadid}] ${message} | ${all-event-properties} ${exception:format=tostring} --- ${stacktrace}" />
		<target xsi:type="ColoredConsole"
                name="logconsole"
                layout="[${longdate}][${level:uppercase=true}][${logger}][PID:${processid}][TID:${threadid}] ${message} | ${all-event-properties} ${exception:format=tostring}">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Error" writeTo="logerrfile" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>