#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Content container styles */
.contentContainer {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .Sidebar {
    width: 60px; /* Collapsed sidebar */
  }

  .contentContainer {
    margin-left: 0; /* Full width content */
  }

  .Sidebar ul li {
    display: none; /* Hide links in smaller screens */
  }
}
