*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  background-color: #000000;
  height: 100%;
  width: 100%;
  min-height: 100svh; /* fixes mobile issues */
}
