# Ignore .vs folder continaing local data
.vs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ntuser.dat

# C# project files
bin/
obj/
*.csproj.user
*.suo
*.nupkg
*.snupkg

# Node.js / React project files
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
dist/

# Vite / TypeScript build artifacts
.vite/
dist/
*.tsbuildinfo

#
# Ignoring the secrets to connect to the Router
# Uncomment this in case you need to make changes to the Usersecrets
# Watch out to not commit anything sensitive
# 
